body {
  background-image: url("images/palm-trees.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}

.App .container {
  background: transparent;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 30px auto;
  max-width: 600px;
  margin-top: 180px;
  box-shadow: 0 0 30px whitesmoke;
  border: 1px solid #838383;
  border-radius: 40px;
  padding: 30px;
}

.App .footer {
  text-align: center;
  color: white;
}

.App #open-source-link {
  text-decoration: none;
  color: #064420;
}

.App #open-source-link:hover {
  text-decoration: underline;
  transition: all 200ms ease;
}
