.CurrentCity .current-location {
  margin-top: 30px;
}

.CurrentCity #current-city {
  font-size: 43px;
}

.CurrentCity #country {
  font-size: 25px;
  font-weight: bolder;
  margin-left: 15px;
}

.CurrentCity #current-date {
  font-size: 20px;
}
