.Footer .footer {
  text-align: center;
  color: white;
}

.Footer #open-source-link {
  text-decoration: none;
  color: #064420;
}

.Footer #open-source-link:hover {
  text-decoration: underline;
  transition: all 200ms ease;
}
