.Weather .search-bar,
.search-button {
  display: inline-block;
  margin: 0;
}

.Weather .search-bar {
  max-width: 330px;
  margin-left: 40px;
}

.Weather #search {
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.Weather .button {
  color: white;
  font-size: 18px;
  font-weight: 500;
  background-color: #6c8fad;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  opacity: 0.9;
}

.Weather .button:hover {
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 200ms ease;
  box-shadow: 3px 3px 5px whitesmoke;
}

.Weather .current-location,
.current-weather,
.temperature-units {
  margin-top: 30px;
}

.Weather #current-city {
  font-size: 43px;
}

.Weather #country {
  font-size: 25px;
  font-weight: bolder;
  margin-left: 15px;
}

.Weather #current-date {
  font-size: 20px;
}

.Weather ul.current-weather {
  padding: 0;
}

.Weather li#humidity,
#wind,
#temp {
  list-style: none;
  font-size: 17px;
  line-height: 1.8;
}

.Weather .description-temp {
  font-size: 22px;
  margin-top: 40px;
}
.Weather #description {
  font-size: 25px;
  margin-top: 10px;
}

.Weather #description:first-letter {
  text-transform: uppercase;
}

.Weather .temp-units {
  font-size: 20px;
}

.Weather .units a {
  color: white;
  text-decoration: none;
}

.Weather .weather-forecast {
  text-align: center;
  font-size: 16px;
}

.Weather .weather-forecast-date {
  margin-bottom: 3px;
}
